In [77]:
import requests, pandas as pd
import io
from google.colab import files
uploaded = files.upload()

Saving labor-productivity-per-hour-PennWorldTable.csv to labor-productivity-per-hour-PennWorldTable (5).csv

In [78]:
df = pd.read_csv(io.BytesIO(uploaded['labor-productivity-per-hour-PennWorldTable.csv']))
df

         Entity Code  Year  Productivity (PWT 9.1 (2019))
0     Argentina  ARG  1950                       3.132358
1     Argentina  ARG  1951                       3.153722
2     Argentina  ARG  1952                       2.827533
3     Argentina  ARG  1953                       2.963201
4     Argentina  ARG  1954                       3.045096
...         ...  ...   ...                            ...
3368    Vietnam  VNM  2013                       3.993525
3369    Vietnam  VNM  2014                       4.439293
3370    Vietnam  VNM  2015                       4.473855
3371    Vietnam  VNM  2016                       4.502693
3372    Vietnam  VNM  2017                       4.818918

[3373 rows x 4 columns]

In [79]:
df.columns

Index(['Entity', 'Code', 'Year', 'Productivity (PWT 9.1 (2019))'], dtype='object')

In [80]:
df = df.drop(["Code"], axis=1)
df

         Entity  Year  Productivity (PWT 9.1 (2019))
0     Argentina  1950                       3.132358
1     Argentina  1951                       3.153722
2     Argentina  1952                       2.827533
3     Argentina  1953                       2.963201
4     Argentina  1954                       3.045096
...         ...   ...                            ...
3368    Vietnam  2013                       3.993525
3369    Vietnam  2014                       4.439293
3370    Vietnam  2015                       4.473855
3371    Vietnam  2016                       4.502693
3372    Vietnam  2017                       4.818918

[3373 rows x 3 columns]

In [81]:
from google.colab import files
uploaded = files.upload()

Saving happiness-cantril-ladder.csv to happiness-cantril-ladder (4).csv

In [82]:
df1 = pd.read_csv(io.BytesIO(uploaded['happiness-cantril-ladder.csv']))
df1

           Entity  ... Life satisfaction in Cantril Ladder (World Happiness Report 2021)
0     Afghanistan  ...                                              3.724
1     Afghanistan  ...                                              4.402
2     Afghanistan  ...                                              4.758
3     Afghanistan  ...                                              3.832
4     Afghanistan  ...                                              3.783
...           ...  ...                                                ...
1944     Zimbabwe  ...                                              3.735
1945     Zimbabwe  ...                                              3.638
1946     Zimbabwe  ...                                              3.616
1947     Zimbabwe  ...                                              2.694
1948     Zimbabwe  ...                                              3.160

[1949 rows x 4 columns]

In [83]:
df1 = df1.drop(["Code"], axis=1)
df1

           Entity  ...  Life satisfaction in Cantril Ladder (World Happiness Report 2021)
0     Afghanistan  ...                                              3.724
1     Afghanistan  ...                                              4.402
2     Afghanistan  ...                                              4.758
3     Afghanistan  ...                                              3.832
4     Afghanistan  ...                                              3.783
...           ...  ...                                                ...
1944     Zimbabwe  ...                                              3.735
1945     Zimbabwe  ...                                              3.638
1946     Zimbabwe  ...                                              3.616
1947     Zimbabwe  ...                                              2.694
1948     Zimbabwe  ...                                              3.160

[1949 rows x 3 columns]

In [84]:
df2=pd.merge(df,df1)
df2

        Entity  ...  Life satisfaction in Cantril Ladder (World Happiness Report 2021)
0    Argentina  ...                                              6.313
1    Argentina  ...                                              6.073
2    Argentina  ...                                              5.961
3    Argentina  ...                                              6.424
4    Argentina  ...                                              6.441
..         ...  ...                                                ...
715    Vietnam  ...                                              5.023
716    Vietnam  ...                                              5.085
717    Vietnam  ...                                              5.076
718    Vietnam  ...                                              5.062
719    Vietnam  ...                                              5.175

[720 rows x 4 columns]

In [85]:
df2.to_csv('hap_prod_regression.csv')