In [27]:
import requests, pandas as pd
import io
from google.colab import files
uploaded = files.upload()

Saving labor-productivity-per-hour-PennWorldTable.csv to labor-productivity-per-hour-PennWorldTable (4).csv

In [48]:
df = pd.read_csv(io.BytesIO(uploaded['labor-productivity-per-hour-PennWorldTable.csv']))
df

         Entity Code  Year  Productivity (PWT 9.1 (2019))
0     Argentina  ARG  1950                       3.132358
1     Argentina  ARG  1951                       3.153722
2     Argentina  ARG  1952                       2.827533
3     Argentina  ARG  1953                       2.963201
4     Argentina  ARG  1954                       3.045096
...         ...  ...   ...                            ...
3368    Vietnam  VNM  2013                       3.993525
3369    Vietnam  VNM  2014                       4.439293
3370    Vietnam  VNM  2015                       4.473855
3371    Vietnam  VNM  2016                       4.502693
3372    Vietnam  VNM  2017                       4.818918

[3373 rows x 4 columns]

In [49]:
df.columns

Index(['Entity', 'Code', 'Year', 'Productivity (PWT 9.1 (2019))'], dtype='object')

In [50]:
df = df.drop(["Code"], axis=1)
df

         Entity  Year  Productivity (PWT 9.1 (2019))
0     Argentina  1950                       3.132358
1     Argentina  1951                       3.153722
2     Argentina  1952                       2.827533
3     Argentina  1953                       2.963201
4     Argentina  1954                       3.045096
...         ...   ...                            ...
3368    Vietnam  2013                       3.993525
3369    Vietnam  2014                       4.439293
3370    Vietnam  2015                       4.473855
3371    Vietnam  2016                       4.502693
3372    Vietnam  2017                       4.818918

[3373 rows x 3 columns]

In [66]:
df=df.query('Entity in ["United States", "United Kingdom","Canada","Japan","Germany","France","Italy"] & Year > 2000')
df

             Entity  Year  Productivity (PWT 9.1 (2019))
498          Canada  2001                      41.892647
499          Canada  2002                      41.606812
500          Canada  2003                      42.973328
501          Canada  2004                      43.813068
502          Canada  2005                      46.731682
...             ...   ...                            ...
3235  United States  2013                      63.722698
3236  United States  2014                      64.186951
3237  United States  2015                      64.563950
3238  United States  2016                      64.715569
3239  United States  2017                      65.512207

[119 rows x 3 columns]

In [68]:
from google.colab import files
uploaded = files.upload()

Saving happiness-cantril-ladder.csv to happiness-cantril-ladder (3).csv

In [70]:
df1 = pd.read_csv(io.BytesIO(uploaded['happiness-cantril-ladder.csv']))
df1

           Entity  ... Life satisfaction in Cantril Ladder (World Happiness Report 2021)
0     Afghanistan  ...                                              3.724
1     Afghanistan  ...                                              4.402
2     Afghanistan  ...                                              4.758
3     Afghanistan  ...                                              3.832
4     Afghanistan  ...                                              3.783
...           ...  ...                                                ...
1944     Zimbabwe  ...                                              3.735
1945     Zimbabwe  ...                                              3.638
1946     Zimbabwe  ...                                              3.616
1947     Zimbabwe  ...                                              2.694
1948     Zimbabwe  ...                                              3.160

[1949 rows x 4 columns]

In [71]:
df1 = df1.drop(["Code"], axis=1)
df1

           Entity  ...  Life satisfaction in Cantril Ladder (World Happiness Report 2021)
0     Afghanistan  ...                                              3.724
1     Afghanistan  ...                                              4.402
2     Afghanistan  ...                                              4.758
3     Afghanistan  ...                                              3.832
4     Afghanistan  ...                                              3.783
...           ...  ...                                                ...
1944     Zimbabwe  ...                                              3.735
1945     Zimbabwe  ...                                              3.638
1946     Zimbabwe  ...                                              3.616
1947     Zimbabwe  ...                                              2.694
1948     Zimbabwe  ...                                              3.160

[1949 rows x 3 columns]

In [72]:
df1=df1.query('Entity in ["United States", "United Kingdom","Canada","Japan","Germany","France","Italy"] & Year > 2000')
df1

             Entity  ...  Life satisfaction in Cantril Ladder (World Happiness Report 2021)
293          Canada  ...                                              7.418
294          Canada  ...                                              7.482
295          Canada  ...                                              7.486
296          Canada  ...                                              7.488
297          Canada  ...                                              7.650
...             ...  ...                                                ...
1846  United States  ...                                              6.804
1847  United States  ...                                              6.992
1848  United States  ...                                              6.883
1849  United States  ...                                              6.944
1850  United States  ...                                              7.028

[105 rows x 3 columns]

In [74]:
df2=pd.merge(df,df1)
df2

           Entity  ...  Life satisfaction in Cantril Ladder (World Happiness Report 2021)
0          Canada  ...                                              7.418
1          Canada  ...                                              7.482
2          Canada  ...                                              7.486
3          Canada  ...                                              7.488
4          Canada  ...                                              7.650
..            ...  ...                                                ...
79  United States  ...                                              7.249
80  United States  ...                                              7.151
81  United States  ...                                              6.864
82  United States  ...                                              6.804
83  United States  ...                                              6.992

[84 rows x 4 columns]

In [75]:
df2.to_csv('g7_countries.csv')